:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bj-color: #ffffff;
  --bj-hero: #2f303a;
  --bj-about: #e5e5e5;
  --bj-team: #f5f4fa;
  --social-icon: #afb1b8;
  --social-icon-hover: #ffffff;
  --iteam: 3;
  --indent: 30px;
  --time-transformatiom: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: baseline;
}

header {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  background-color: var(--bj-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link,
.mail,
.tell {
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.nav-list-link {
  display: flex;
  position: relative;
  align-items: baseline;
}

.nav-list-link .accent::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.nav-list-link:not(:last-child) {
  margin-right: 50px;
}

.link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list-link .link:hover,
.nav-list-link .link:focus {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
}

.mail,
.tell {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav-list-icon-mail {
  width: 16px;
  height: 12px;
  fill: var(--social-icon);
  padding: 0;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.nav-list-icon-phone {
  width: 10px;
  height: 16px;
  fill: var(--social-icon);
  padding: 0;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.nav.list .link {
  display: block;
  align-items: center;
  justify-content: baseline;
}

.page-header-registration {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-list-link:hover {
  color: var(--accent-color);
}

.nav-list-link .mail:hover,
.nav-list-link .tell:hover,
.nav-list-link .mail:focus,
.nav-list-link .tell:focus {
  color: var(--accent-color);
}

.nav-list-link:hover .nav-list-icon-mail {
  fill: var(--accent-color);
}

.nav-list-link:hover .nav-list-icon-phone {
  fill: var(--accent-color);
}

.page-nav-logo {
  text-decoration: none;
}

.hero {
  padding-top: 200px;
  padding-bottom: 210px;
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-team.jpg);
  background-color: var(--bj-hero);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--bj-color);
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: var(--bj-color);
}

.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
}

.specifics {
  padding-top: 94px;
  padding-bottom: 94px;
}

.specifics-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.specifics-section::before {
  display: block;
  content: "";
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.specifics-section:nth-child(1)::before {
  background-image: url(../images/antenna-1.svg);
  background-size: 66px 70px;
}

.specifics-section:nth-child(2)::before {
  background-image: url(../images/clock-1.svg);
  background-size: 66px 70px;
}

.specifics-section:nth-child(3)::before {
  background-image: url(../images/diagram-1.svg);
  background-size: 66px 70px;
}

.specifics-section:nth-child(4)::before {
  background-image: url(../images/astronaut-1.svg);
  background-size: 66px 70px;
}

.specifics-section:not(:last-child) {
  margin-right: 30px;
}

.specifics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.specifics-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.works {
  padding-bottom: 94px;
}

.works-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.works-list {
  display: flex;
  margin-top: 50px;
}

.works-img {
  max-width: 370px;
}

.works-item-about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
}

.works-iteam-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bj-color);
}

.works-iteams {
  position: relative;
}

.works-item-about {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
}

.works-iteams:not(:first-child) {
  margin-left: 30px;
}

.about {
  background-color: var(--bj-about);
}
.about-team {
  background-color: var(--bj-team);
}

.about-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.person-card {
  box-sizing: border-box;
  width: 270px;
  height: auto;
  background-color: var(--bj-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.person-card:not(:last-child) {
  margin-right: 30px;
}

.person-text {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 0px;
}

.team-position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 10px;
}

.social-icons {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 16px;
  margin-left: auto;
  margin-left: auto;
  padding: 0;
}

.social-list {
  transition-property: background-color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.social-list-iteam {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.social-list-iteam:hover {
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon);
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.social-list-iteam:hover .social-list-icon {
  fill: var(--social-icon-hover);
}

.social-list:not(:last-child) {
  margin-right: 10px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.client-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}

.client-iteam:not(:last-child) {
  margin-right: 30px;
}

.client {
  display: inline-flex;
  width: 106px;
  height: 60px;
  fill: var(--social-icon);
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.client-link:hover .client,
.client-link:focus .client {
  fill: var(--accent-color);
}

footer {
  background-color: var(--bj-hero);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.logo-studio-footer {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  color: var(--bj-color);
}

address {
  margin-top: 20px;
}

.footer-list {
  text-decoration: none;
}

.footer-list-adress > a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--bj-color);
}

.footer-list-mail > a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.footer-list-tell > a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.footer-list-mail > a:hover,
.footer-list-tell > a:hover,
.footer-list-mail > a:focus,
.footer-list-tell > a:focus {
  color: var(--accent-color);
}

.social-contacts {
  width: 206px;
  height: 80px;
  align-items: center;
  margin-left: 70px;
}

.tittle-action {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--social-icon-hover);
}

.footer-social-icons {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0px;
}

.footer-social-list {
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.footer-social-list:hover,
.footer-social-list:focus {
  background-color: var(--accent-color);
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-hover);
}

.footer-social-list:not(:last-child) {
  margin-right: 10px;
}

.subscribe {
  position: relative;
  width: 570px;
  margin-left: auto;
  margin-right: 0;
}

.form-input-mail {
  display: flex;
  flex-direction: column;
}

.form-input-mail input {
  margin-top: 20px;
  padding: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--bj-hero);
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-input-mailinput::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-input-mail label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bj-color);
}

.button-subscribe {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--bj-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-subscribe::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon\ send.svg);
  fill: var(--bj-color);
  background-size: contain;
  margin-left: 10px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-iteams:not(:last-child) {
  margin-right: 8px;
}

.nav-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--bj-team);
  border-radius: 4px;
  border: none;
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.nav-button:hover,
.nav-button:focus {
  cursor: pointer;
  color: var(--bj-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.project {
  background-color: var(--bj-color);
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
  transition-property: box-shadow;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.project-img-box {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.project-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--bj-about);
  padding-left: 24px;
  padding-right: 24px;
}

.project:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project:hover .project-overlay {
  transform: translateY(-100%);
  opacity: 1;
}

.project:nth-child(3n) {
  margin-right: 0px;
}

.project:nth-child(n + 7) {
  margin-bottom: 0px;
}

.project-text {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-about {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: var(--bj-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: fixed;
  display: inline-block;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0);
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.button-close:hover,
.button-close:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.close-btn-svg {
  position: absolute;
  top: -17%;
  left: -20%;
  width: 18px;
  height: 18px;
  margin-top: 10px;
  margin-left: 10px;
}
.modal-form {
  margin-top: 12px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
  outline: none;
}

.modal-input:hover .modal-icon,
.modal-input:focus .modal-icon {
  fill: var(--accent-color);
}

.label-text {
  margin-bottom: 4px;
}

.modal-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-icon {
  position: absolute;
  width: 13px;
  height: 13px;
  bottom: 14px;
  left: 15px;
  fill: var(--title-text-color);
  transition-property: fill;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-input:hover + .modal-icon {
  fill: var(--accent-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.textarea {
  padding: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 16px;
  min-height: 120px;
  resize: none;
  outline: none;
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
}

.check-input:checked + .check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.agreement-text,
.agreement-link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.registration-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 52px;
  border: none;
  padding: 10px;
  background-color: var(--accent-color);
  text-align: center;
  color: var(--bj-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color, cursor;
  transition-duration: var(--time-transformatiom);
  transition-timing-function: var(--time-function);
  margin-top: 30px;
}

.registration-btn:hover,
.registration-btn:focus {
  background-color: #188ce8;
  cursor: pointer;
}
